body {
    width: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    background-image: linear-gradient(to right bottom, #957dad, #aa80b1, #bf83b2, #d485b0, #e789ab, #f08ca5, #f8909f, #ff9599, #ff9a94, #ff9e8f, #ffa48b, #ffa987);
    padding: 0;
    margin: 0;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    white-space: pre-line;
    background-color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    padding: 1rem;
}

h1{
    margin-bottom: 0;
}

.header-p{
    margin-top: 0;
    font-weight: bold;
}

.cat-logo {
    height: 75px;
}

.cat-flex{
    display: flex;
    flex-direction: column;
}

.imgWrapper {
    padding: 0;
    margin: 0;
}

.kitten-img {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    object-fit: cover;
    height: 300px;
}


.arrow_left,
.arrow_right {
    font-size: 35px;
    padding: 0;
}

.kattenErik {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

footer {
    position: relative;
    bottom: 0;
    padding-block: 2rem;
    padding-inline: 1rem;
    background-color: #007968;
}

.footer__container--info ul {
    list-style: none;
}

.footer__container--info ul li {
    line-height: 2rem;
}

i{
    color: #000000;
    font-size: 2.5rem;
}

@media screen and (min-width: 750px) {
    .kitten-img{
        width: 80%;
        height: 400px;
    }
}

@media screen and (min-width: 1440px) {
    .kitten-img{
        width: 70%;
        height: 500px;
        max-width: 1000px;
    }
}