body {
    width: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    background-image: linear-gradient(to right bottom, #957dad, #aa80b1, #bf83b2, #d485b0, #e789ab, #f08ca5, #f8909f, #ff9599, #ff9a94, #ff9e8f, #ffa48b, #ffa987);
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    white-space: pre-line;
    background-color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    padding: 1rem;
}

h1{
    margin-bottom: 0;
}

.header-p {
    margin-top: 0;
    font-weight: bold;
}

.cat-logo {
    height: 75px;
}

.cat-flex {
    display: flex;
    flex-direction: column;
}

.imgWrapper {
    padding: 0;
    margin: 0;
}

.kitten-img {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    object-fit: cover;
    height: 300px;
}


.arrow_left,
.arrow_right {
    font-size: 60px;
    padding: 0;
    background-color: transparent;
    color: whitesmoke;
    border: transparent;
}

.buttonWrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
    bottom: 120px;
}

.kattenErik {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    margin-top: 70px;
}

footer {
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    padding-block: 2rem;
    background-color: #cce2cb;
}

.footer__container--info ul {
    list-style: none;
    margin: 10px 0 30px;
    padding: 0;
}

.footer__container--info ul li {
    line-height: 1.5rem;
}

i{
    color: #000000;
    font-size: 2.5rem;
}

@media screen and (min-width: 750px) {
    .kitten-img{
        width: 80%;
        height: 400px;
    }
    .buttonWrapper {
        width: 80%;
        margin: 0 auto;
    
        .header {
        justify-content: space-around;
    }
    footer {
        flex-direction: row;
        justify-content: space-around;
        font-size: 1.5rem;
    }

    i{
        font-size: 3.5rem;
    }   

    h1{
        margin-top: 10px;
        font-size: 3.5rem;
    }
    
    .header-p {
        font-size: 1.5rem;
    }
    
    .cat-logo {
        height: 150px;
    }
    .footer__container--info ul li {
        line-height: 2.2rem;
    }
}
}

@media screen and (min-width: 1440px) {
    .kitten-img{
        width: 70%;
        height: 500px;
        max-width: 1000px;
    }
    .buttonWrapper {
        width: 70%;
        max-width: 1000px;
        bottom: 250px;
    footer {
        font-size: 2rem;
    }

    i{
        font-size: 5rem;
    }
}
    .footer__container--info ul li {
        line-height: 3rem;
    }
}